@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$--bs-body-color: #1014c5;
$danger: #ff4136;

$theme-colors: (
    "primary": $primary,
    "danger": $danger
);

@import "../node_modules/bootstrap/scss/bootstrap";


nav {
    background-color: #1014c5;
}
.logo {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #E7EBDA;
}

.barra_navegacion {
    background-color: #E7EBDA;
}
.pie_pagina {
    background-color: #E7EBDA;
}

//dar efecto al texto
a:hover{
    color: red;
}
* {
    box-sizing: border-box;
}
 
