<!DOCTYPE html>
<html>

<head>
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets\css\miestilo.css">
</head>

<body>
    
    <h1>Bienvenidos a Taller de Programación I</h1>
    
    <p id="parrafo_prueba">Hoy sólo práctico de configuración</p>
    <nav class="menu">
        <img src="assets\img\logo.png" class="logo">
        <ul>
            <li><a href="https://www.google.com/">Inicio</a></li>
            <li><a href="https://www.yahoo.com/">Sobre nosotros</a></li>
            <li><a href="http://exa.unne.edu.ar/">Contacto</a></li>
        </ul>
    </nav>
    <div class="division1">
        <p></p>
        <h2> Ejemplo de div y span </h2>
        <p>
            Esto es un párrafo dentro de un div,
            <span style="color: red;"> y esto un span dentro de un párrafo.
            </span>
        </p>
        <p>
            Esto es otro parrafo
        </p>
    </div>
</body>

</html>


